<footer class="footer footer-center block mb-5 pt-10">
	<div class="inline opacity-50">
		Built with <a href="https://astro.build/" target="_blank" class="underline">Astro</a>
		and <a href="https://tailwindcss.com/" target="_blank" class="underline">TailwindCSS</a>
	</div>
</footer>
