---
const { skill } = Astro.props;
const icon = (await import('../../public/skills/' + skill.toLowerCase() + '.svg?raw')).default;
---

<div class="flex items-center space-x-4 bg-white bg-opacity-10 p-4 rounded-lg">
	<div class="w-12 rounded overflow-hidden">
		<Fragment set:html={ icon } />
	</div>
	<div class="flex-1 text-lg">
		{ skill }
	</div>
</div>
